---
---

@import "{{ site.theme }}";

header {
    padding: 40px 20px;
}

#content-wrapper {
    padding: 20px 50px;
}

.inner {
    width: auto !important;
}

.inner a.button {
    display:    none;
    visibility: hidden;
}

#main-content h2 {
    text-indent:      11px !important;
    border-bottom:    1px solid #ccc;
    border-top:       1px solid #ccc;
    background-color: #e5eef3;
}

#main-content img {
    max-width: none !important;
}

th {
    background-color: #e8eef5;
}

td, th {
    padding: 3px !important;
}

pre code {
    background-color: transparent;
}